raw/github/**/snapshots/**/files/** whitespace=-blank-at-eol,-blank-at-eof,-space-before-tab
raw/github/**/supplements/**/files/** whitespace=-blank-at-eol,-blank-at-eof,-space-before-tab
raw/github/**/releases/**/release-notes.md whitespace=-blank-at-eol,-blank-at-eof,-space-before-tab
tracking/github/repos/**/comparisons/**/diff.patch whitespace=-blank-at-eol,-blank-at-eof,-space-before-tab
