# Create an application to obtain credentials at:
# https://developer.paypal.com/dashboard/applications/sandbox

PAYPAL_SANDBOX_CLIENT_ID=
PAYPAL_SANDBOX_CLIENT_SECRET=

# Provide a comma-separated list of the domain names where
# the Fastlane component will be presented
# ex: DOMAINS=your-domain.com,your-domain2.com
DOMAINS=
