{
  "openapi": "3.0.1",
  "info": {
    "title": "Metronome",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.metronome.com/v1",
      "description": "Production server"
    }
  ],
  "paths": {
    "/approval_requests": {
      "post": {
        "x-mint": {
          "groups": [
            "ff:agentic-api-tokens"
          ]
        },
        "x-stainless-skip": true,
        "operationId": "submitApprovalRequests",
        "summary": "Submit a write operation for human approval",
        "description": "Queues a write operation for human review when an agentic token is in use.\n\nWhen an agent attempts a write operation (e.g. `POST /v1/contracts/create`) using an\nagentic token, the server returns a `403 AgenticMutationBlocked` error with a pointer to\nthis endpoint. The agent should then call this endpoint with the original request details\nso a human can review and approve the action.\n\nOn success, a pending approval request is created and the response includes an\n`approval_url` linking to the Approval Dashboard where a human can review, approve, or\nreject the request. Once approved, the original operation is executed automatically and\nthe dashboard reflects the completed status.\n\nAgents should surface the `approval_url` to the human user (e.g. via chat message or UI link)\nso they can navigate directly to the approval dashboard to review the request.\n",
        "tags": [
          "Approval Requests"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "description",
                  "method",
                  "path",
                  "body"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128
                  },
                  "description": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 512
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "POST",
                      "PUT",
                      "PATCH",
                      "DELETE"
                    ],
                    "description": "The HTTP method of the operation being requested."
                  },
                  "path": {
                    "type": "string",
                    "description": "The API path of the operation being requested (e.g. /v1/contracts/create)."
                  },
                  "body": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "The full request body of the operation being requested."
                  }
                }
              },
              "example": {
                "name": "Create enterprise contract for Acme Corp",
                "description": "Onboarding new enterprise customer with annual commitment",
                "method": "POST",
                "path": "/v1/contracts/create",
                "body": {
                  "customer_id": "4db51251-61de-4bfe-b9ce-495e244f3491",
                  "starting_at": "2026-06-01T00:00:00.000Z"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ApprovalRequest"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "x-mint": {
          "groups": [
            "ff:agentic-api-tokens"
          ]
        },
        "x-stainless-skip": true,
        "operationId": "listApprovalRequests",
        "summary": "List approval requests",
        "description": "Lists all approval requests submitted by agentic tokens for your account. Returns request details including status, token name, approval URL, and the original request payload. Use status and date filters to narrow results.\n",
        "tags": [
          "Approval Requests"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "pending_approval",
                "approved",
                "denied",
                "execution_succeeded",
                "execution_error",
                "expired"
              ]
            },
            "description": "Filter by approval request status."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            },
            "description": "Number of items to return per page. Defaults to 20."
          },
          {
            "name": "next_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Cursor for pagination. Use the value from the previous response's next_page field."
          },
          {
            "name": "created_before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter to requests created before this timestamp (exclusive)."
          },
          {
            "name": "created_after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter to requests created on or after this timestamp (inclusive)."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "next_page"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApprovalRequest"
                      }
                    },
                    "next_page": {
                      "type": "string",
                      "nullable": true,
                      "description": "Cursor to use for fetching the next page of results."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/approval_requests/{id}": {
      "get": {
        "x-mint": {
          "groups": [
            "ff:agentic-api-tokens"
          ]
        },
        "x-stainless-skip": true,
        "operationId": "getApprovalRequest",
        "summary": "Get an approval request",
        "description": "Retrieves the details of a single approval request by its ID.\n",
        "tags": [
          "Approval Requests"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The ID of the approval request to retrieve."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ApprovalRequest"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/approval_requests/{id}/approve": {
      "post": {
        "x-mint": {
          "groups": [
            "ff:agentic-api-tokens"
          ]
        },
        "x-stainless-skip": true,
        "operationId": "approveApprovalRequest",
        "summary": "Approve a pending approval request",
        "description": "Approves a pending approval request, allowing the queued operation to proceed.\n\nOnce approved, the original write operation will be executed automatically and the\napproval request status will transition to reflect the execution result.\n",
        "tags": [
          "Approval Requests"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The ID of the approval request to approve."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ApprovalRequest"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/approval_requests/{id}/deny": {
      "post": {
        "x-mint": {
          "groups": [
            "ff:agentic-api-tokens"
          ]
        },
        "x-stainless-skip": true,
        "operationId": "denyApprovalRequest",
        "summary": "Deny a pending approval request",
        "description": "Denies a pending approval request, preventing the queued operation from executing.\n\nOnce denied, the approval request is closed and the original write operation will\nnot be performed.\n",
        "tags": [
          "Approval Requests"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The ID of the approval request to deny."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ApprovalRequest"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/alerts/archive": {
      "post": {
        "description": "Permanently disable a threshold notification and remove it from active monitoring across all customers. Archived threshold notifications stop evaluating immediately and can optionally release their uniqueness key for reuse in future threshold notification configurations.\n\n### Use this endpoint to:\n- Decommission threshold notifications that are no longer needed\n- Clean up test or deprecated threshold notification configurations\n- Free up uniqueness keys for reuse with new threshold notifications\n- Stop threshold notification evaluations without losing historical configuration data\n- Disable outdated monitoring rules during pricing model transitions\n\n### Key response fields:\n- data: Object containing the archived threshold notification's ID\n\n### Usage guidelines:\n- Irreversible for evaluation: Archived threshold notifications cannot be re-enabled; create a new threshold notification to resume monitoring\n- Uniqueness key handling: Set `release_uniqueness_key` : `true` to reuse the key in future threshold notifications\n- Immediate effect: Threshold notification evaluation stops instantly across all customers\n- Historical preservation: Archive operation maintains threshold notification history and configuration for compliance and auditing\n",
        "operationId": "archiveAlert",
        "summary": "Archive a threshold notification",
        "tags": [
          "Alerts"
        ],
        "requestBody": {
          "description": "The ID of the threshold notification to archive",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveAlertPayload"
              },
              "example": {
                "id": "8deed800-1b7a-495d-a207-6c52bac54dc9"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Id"
                    }
                  }
                },
                "example": {
                  "data": {
                    "id": "8deed800-1b7a-495d-a207-6c52bac54dc9"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/alerts/create": {
      "post": {
        "description": "Create a new threshold notification to monitor customer spending, balances, and billing metrics in real-time. Metronome's notification system provides industry-leading speed with immediate evaluation capabilities, enabling you to proactively manage customer accounts and prevent revenue leakage.\n\nThis endpoint creates configurable threshold notifications that continuously monitor various billing thresholds including spend limits, credit balances, commitment utilization, and invoice totals. Threshold notifications can be configured globally for all customers or targeted to specific customer accounts.\n\n### Use this endpoint to:\n- Proactively monitor customer spending patterns to prevent unexpected overages or credit exhaustion\n- Automate notifications when customers approach commitment limits or credit thresholds\n- Enable real-time intervention for accounts at risk of churn or payment issues\n- Scale billing operations by automating threshold-based workflows and notifications\n\n### Key response fields: \nA successful response returns a CustomerAlert object containing:\n\n- The threshold notification configuration with its unique ID and current status\n- The customer's evaluation status (ok, in_alarm, or evaluating)\n- Threshold notification metadata including type, threshold values, and update timestamps\n\n### Usage guidelines:\n- Immediate evaluation: Set `evaluate_on_create` : `true` (default) for instant evaluation against existing customers\n- Uniqueness constraints: Each threshold notification must have a unique `uniqueness_key` within your organization. Use `release_uniqueness_key` : `true` when archiving to reuse keys\n- Notification type requirements: Different threshold notification types require specific fields (e.g., `billable_metric_id` for usage notifications, `credit_type_id` for credit-based threshold notifications)\n- Webhook delivery: Threshold notifications trigger webhook notifications for real-time integration with your systems. Configure webhook endpoints before creating threshold notifications\n- Performance at scale: Metronome's event-driven architecture processes threshold notification evaluations in real-time as usage events stream in, unlike competitors who rely on periodic polling or batch evaluation cycles\n",
        "operationId": "createAlert",
        "summary": "Create a threshold notification",
        "tags": [
          "Alerts"
        ],
        "requestBody": {
          "description": "The details of the threshold notification to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerAlertPayload"
              },
              "example": {
                "alert_type": "spend_threshold_reached",
                "credit_type_id": "2714e483-4ff1-48e4-9e25-ac732e8f24f2",
                "name": "$100 spend threshold reached",
                "threshold": 10000,
                "customer_id": "4db51251-61de-4bfe-b9ce-495e244f3491",
                "credit_grant_type_filters": [
                  "enterprise"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Id"
                    }
                  }
                },
                "example": {
                  "data": {
                    "id": "58fb0650-e54a-4d17-93cb-ba8e56c32c65"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/billable-metrics/create": {
      "post": {
        "description": "Create billable metrics programmatically with this endpoint—an essential step in configuring your pricing and packaging in Metronome.\n\nA billable metric is a customizable query that filters and aggregates events from your event stream. These metrics are continuously tracked as usage data enters Metronome through the ingestion pipeline. The ingestion process transforms raw usage data into actionable pricing metrics, enabling accurate metering and billing for your products.\n\n### Use this endpoint to: \n- Create individual or multiple billable metrics as part of a setup workflow.\n- Automate the entire pricing configuration process, from metric creation to customer contract setup.\n- Define metrics using either standard filtering/aggregation or a custom SQL query.\n\n### Key response fields: \n- The ID of the billable metric that was created\n- The created billable metric will be available to be used in Products, usage endpoints, and alerts. \n\n### Usage guidelines: \n- Metrics defined using standard filtering and aggregation are Streaming billable metrics, which have been optimized for ultra low latency and high throughput workflows. \n- Use SQL billable metrics if you require more flexible aggregation options.\n",
        "operationId": "createBillableMetricV1",
        "summary": "Create a billable metric",
        "tags": [
          "Billable metrics"
        ],
        "requestBody": {
          "description": "The details of the billable metric to create.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBillableMetricV1Payload"
              },
              "example": {
                "name": "CPU Hours",
                "event_type_filter": {
                  "in_values": [
                    "cpu_usage"
                  ]
                },
                "property_filters": [
                  {
                    "name": "cpu_hours",
                    "exists": true
                  },
                  {
                    "name": "region",
                    "exists": true,
                    "in_values": [
                      "EU",
                      "NA"
                    ]
                  },
                  {
                    "name": "machine_type",
                    "exists": true,
                    "in_values": [
                      "slow",
                      "fast"
                    ]
                  }
                ],
                "aggregation_type": "SUM",
                "aggregation_key": "cpu_hours",
                "group_keys": [
                  [
                    "region"
                  ],
                  [
                    "machine_type"
                  ]
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Id"
                    }
                  }
                },
                "example": {
                  "data": {
                    "id": "58fb0650-e54a-4d17-93cb-ba8e56c32c65"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/billable-metrics/archive": {
      "post": {
        "description": "Use this endpoint to retire billable metrics that are no longer used. After a billable metric is archived, that billable metric can no longer be used in any new Products to define how that product should be metered. If you archive a billable metric that is already associated with a Product, the Product will continue to function as usual, metering based on the definition of the archived billable metric. \n\nArchived billable metrics will be returned on the `getBillableMetric` and `listBillableMetrics` endpoints with a populated `archived_at` field.\n",
        "operationId": "archiveBillableMetric",
        "summary": "Archive a billable metric",
        "tags": [
          "Billable metrics"
        ],
        "requestBody": {
          "description": "The ID of the billable metric to archive",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Id"
              },
              "example": {
                "id": "8deed800-1b7a-495d-a207-6c52bac54dc9"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Id"
                    }
                  }
                },
                "example": {
                  "data": {
                    "id": "8deed800-1b7a-495d-a207-6c52bac54dc9"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/customer-alerts/get": {
      "post": {
        "description": "Retrieve the real-time evaluation status for a specific threshold notification-customer pair. This endpoint provides instant visibility into whether a customer has triggered a threshold notification condition, enabling you to monitor account health and take proactive action based on current threshold notification states.\n\n### Use this endpoint to:\n- Check if a specific customer is currently violating an threshold notification (`in_alarm` status)\n- Verify threshold notification configuration details and threshold values for a customer\n- Monitor the evaluation state of newly created or recently modified threshold notification\n- Build dashboards or automated workflows that respond to specific threshold notification conditions\n- Validate threshold notification behavior before deploying to production customers\n- Integrate threshold notification status checks into customer support tools or admin interfaces\n\n### Key response fields: \nA CustomerAlert object containing:\n\n- `customer_status`: The current evaluation state\n\n- `ok` - Customer is within acceptable thresholds\n- `in_alarm` - Customer has breached the threshold for the notification\n- `evaluating` - Notification is currently being evaluated (typically during initial setup)\n- `null` - Notification has been archived\n- `triggered_by`: Additional context about what caused the notification to trigger (when applicable)\n- `updated_at`: Timestamp of when the `customer_status` was last updated\n- alert: Complete threshold notification configuration including:\n  - Notification ID, name, and type\n  - Current threshold values and credit type information\n  - Notification status (enabled, disabled, or archived)\n  - Any applied filters (credit grant types, custom fields, group values)\n\n### Usage guidelines:\n- Customer status: Returns the current evaluation state, not historical data. For threshold notification history, use webhook notifications or event logs\n- Required parameters: Both customer_id and alert_id must be valid UUIDs that exist in your organization\n- Archived notifications: Returns null for customer_status if the notification has been archived, but still includes the notification configuration details\n- Performance considerations: This endpoint queries live evaluation state, making it ideal for real-time monitoring but not for bulk status checks\n- Integration patterns: Best used for on-demand status checks in response to user actions or as part of targeted monitoring workflows\n- Error handling: Returns 404 if either the customer or alert_id doesn't exist or isn't accessible to your organization\n",
        "operationId": "getCustomerAlert",
        "summary": "Get a threshold notification",
        "tags": [
          "Alerts"
        ],
        "requestBody": {
          "description": "The customer ID and notification ID of the threshold notification to get",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCustomerAlertPayload"
              },
              "example": {
                "customer_id": "9b85c1c1-5238-4f2a-a409-61412905e1e1",
                "alert_id": "8deed800-1b7a-495d-a207-6c52bac54dc9"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CustomerAlert"
                    }
                  }
                },
                "example": {
                  "data": {
                    "customer_status": "in_alarm",
                    "alert": {
                      "id": "8deed800-1b7a-495d-a207-6c52bac54dc9",
                      "uniqueness_key": "823j7fqzo1",
                      "name": "Low credit balance alert",
                      "type": "low_credit_balance_reached",
                      "status": "enabled",
                      "credit_type": {
                        "id": "2714e483-4ff1-48e4-9e25-ac732e8f24f2",
                        "name": "USD (cents)"
                      },
                      "threshold": 0,
                      "updated_at": "2022-01-01T00:00:00Z"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/customer-alerts/list": {
      "post": {
        "description": "Retrieve all threshold notification configurations and their current statuses for a specific customer in a single API call. This endpoint provides a comprehensive view of all threshold notification monitoring a customer account.\n\n### Use this endpoint to:\n- Display all active threshold notifications for a customer in dashboards or admin panels\n- Quickly identify which threshold notifications a customer is currently triggering\n- Audit threshold notification coverage for specific accounts\n- Filter threshold notifications by status (enabled, disabled, or archived)\n\n### Key response fields:\n- data: Array of CustomerAlert objects, each containing:\n  - Current evaluation status (`ok`, `in_alarm`, `evaluating`, or `null`)\n  - Complete threshold notification configuration and threshold details\n  - Threshold notification metadata including type, name, and last update time\n- next_page: Pagination cursor for retrieving additional results\n\n### Usage guidelines:\n- Default behavior: Returns only enabled threshold notifications unless `alert_statuses` filter is specified\n- Pagination: Use the `next_page` cursor to retrieve all results for customers with many notifications\n- Performance: Efficiently retrieves multiple threshold notification statuses in a single request instead of making individual calls\n- Filtering: Pass the `alert_statuses` array to include disabled or archived threshold notifications in results\n",
        "operationId": "listCustomerAlerts",
        "summary": "Get all threshold notifications",
        "parameters": [
          {
            "$ref": "#/components/parameters/NextPage"
          }
        ],
        "tags": [
          "Alerts"
        ],
        "requestBody": {
          "description": "The threshold notifications query to run",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListCustomerAlertsPayload"
              },
              "example": {
                "customer_id": "9b85c1c1-5238-4f2a-a409-61412905e1e1"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "next_page"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CustomerAlert"
                      }
                    },
                    "next_page": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "customer_status": "in_alarm",
                      "alert": {
                        "id": "8deed800-1b7a-495d-a207-6c52bac54dc9",
                        "name": "Low credit balance alert",
                        "uniqueness_key": "823j7fqzo1",
                        "type": "low_credit_balance_reached",
                        "status": "enabled",
                        "credit_type": {
                          "id": "2714e483-4ff1-48e4-9e25-ac732e8f24f2",
                          "name": "USD (cents)"
                        },
                        "threshold": 0,
                        "updated_at": "2022-01-01T00:00:00Z"
                      }
                    },
                    {
                      "customer_status": "ok",
                      "alert": {
                        "id": "3d45fdc3-e237-4acd-a7d9-ccfeb40e71b8",
                        "name": "Spend threshold alert",
                        "type": "spend_threshold_reached",
                        "status": "enabled",
                        "credit_type": {
                          "id": "2714e483-4ff1-48e4-9e25-ac732e8f24f2",
                          "name": "USD (cents)"
                        },
                        "threshold": 1000,
                        "updated_at": "2022-01-01T00:00:00Z"
                      }
                    }
                  ],
                  "next_page": null
                }
              }
            }
          }
        }
      }
    },
    "/customer-alerts/reset": {
      "post": {
        "description": "Force an immediate re-evaluation of a specific threshold notification for a customer, clearing any previous state and triggering a fresh assessment against current thresholds. This endpoint ensures threshold notification accuracy after configuration changes or data corrections.\n\n### Use this endpoint to:\n- Clear false positive threshold notifications after fixing data issues\n- Re-evaluate threshold notifications after adjusting customer balances or credits\n- Test threshold notification behavior during development and debugging\n- Resolve stuck threshold notification that may be in an incorrect state\n- Trigger immediate evaluation after threshold modifications\n\n### Key response fields: \n- 200 Success: Confirmation that the threshold notification has been reset and re-evaluation initiated\n- No response body is returned - the operation completes asynchronously\n\n### Usage guidelines:\n- Immediate effect: Triggers re-evaluation instantly, which may result in new webhook notifications if thresholds are breached\n- State clearing: Removes any cached evaluation state, ensuring a fresh assessment\n- Use sparingly: Intended for exceptional cases, not routine operations\n- Asynchronous processing: The reset completes immediately, but re-evaluation happens in the background\n",
        "operationId": "resetCustomerAlerts",
        "summary": "Reset a threshold notification",
        "tags": [
          "Alerts"
        ],
        "requestBody": {
          "description": "The customer ID and notification ID of the threshold notification to reset",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResetCustomerAlertsPayload"
              },
              "example": {
                "alert_id": "5e8691bf-b22a-4672-922d-f80eee940f01",
                "customer_id": "4c83caf3-8af4-44e2-9aeb-e290531726d9"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/plans": {
      "get": {
        "description": "List all available plans. This is a Plans (deprecated) endpoint. New clients should implement using Contracts.",
        "operationId": "listPlans",
        "summary": "List plans",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageLimit"
          },
          {
            "$ref": "#/components/parameters/NextPage"
          }
        ],
        "tags": [
          "Plans"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "next_page"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Plan"
                      }
                    },
                    "next_page": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": "94293d66-aa05-4a8e-881a-c90872047b67",
                      "name": "Standard",
                      "description": "Standard self-serve plan",
                      "custom_fields": {
                        "x_account_id": "KyVnHhSBWl7eY2bl"
                      }
                    },
                    {
                      "id": "d2c06dae-9549-4d7d-bc04-b78dd3d241b8",
                      "name": "Aperture, Inc.",
                      "description": "Custom enterprise plan for Aperture with ramped minimums",
                      "custom_fields": {
                        "x_account_id": "KyVnHhSBWl7eY2byd"
                      }
                    }
                  ],
                  "next_page": null
                }
              }
            }
          }
        }
      }
    },
    "/planDetails/{plan_id}": {
      "get": {
        "description": "Fetch high level details of a specific plan. This is a Plans (deprecated) endpoint. New clients should implement using Contracts.\n",
        "operationId": "getPlanDetails",
        "summary": "Get plan details",
        "parameters": [
          {
            "$ref": "#/components/parameters/PlanId"
          }
        ],
        "tags": [
          "Plans"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/PlanDetail"
                    }
                  }
                },
                "example": {
                  "data": {
                    "id": "d46c3bce-40a6-4fbf-9b45-fcb00d45ad5f",
                    "name": "Plan with Minimums",
                    "description": "A plan with minimums",
                    "credit_grants": [
                      {
                        "name": "Acme Corp Promotional Credit Grant",
                        "amount_granted": 2400,
                        "amount_paid": 1500,
                        "effective_duration": 3,
                        "priority": "1",
                        "send_invoice": true,
                        "reason": "Prepaid grant",
                        "recurrence_interval": 1,
                        "amount_granted_credit_type": {
                          "id": "2714e483-4ff1-48e4-9e25-ac732e8f24f2",
                          "name": "USD (cents)"
                        },
                        "amount_paid_credit_type": {
                          "id": "2714e483-4ff1-48e4-9e25-ac732e8f24f2",
                          "name": "USD (cents)"
                        }
                      }
                    ],
                    "minimums": [
                      {
                        "name": "Invoice minimum",
                        "value": 10000,
                        "start_period": 0,
                        "credit_type": {
                          "id": "2714e483-4ff1-48e4-9e25-ac732e8f24f2",
                          "name": "USD (cents)"
                        }
                      }
                    ],
                    "overage_rates": [
                      {
                        "start_period": 0,
                        "to_fiat_conversion_factor": 1600,
                        "fiat_credit_type": {
                          "id": "2714e483-4ff1-48e4-9e25-ac732e8f24f2",
                          "name": "USD (cents)"
                        },
                        "credit_type": {
                          "id": "d46c3bce-40a6-4fbf-9b45-fcb00d45ad5f",
                          "name": "MetroBux"
                        }
                      }
                    ],
                    "custom_fields": {
                      "x_account_id": "KyVnHhSBWl7eY2bl"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/planDetails/{plan_id}/customers": {
      "get": {
        "description": "Fetches a list of customers on a specific plan (by default, only currently active plans are included). This is a Plans (deprecated) endpoint. New clients should implement using Contracts.\n",
        "operationId": "getPlanCustomers",
        "summary": "List customers on a plan",
        "parameters": [
          {
            "$ref": "#/components/parameters/PlanId"
          },
          {
            "$ref": "#/components/parameters/PageLimit"
          },
          {
            "$ref": "#/components/parameters/NextPage"
          },
          {
            "$ref": "#/components/parameters/CustomerPlanStatus"
          }
        ],
        "tags": [
          "Plans"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "next_page"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CustomerAndPlanDetail"
                      }
                    },
                    "next_page": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "customer_details": {
                        "id": "d7abd0cd-4ae9-4db7-8676-e986a4ebd8dc",
                        "created_at": "2024-01-01T00:00:00.000Z",
                        "updated_at": "2024-01-01T00:00:00.000Z",
                        "external_id": "team@example.com",
                        "ingest_aliases": [
                          "team@example.com"
                        ],
                        "name": "Example, Inc.",
                        "customer_config": {
                          "salesforce_account_id": "0015500001WO1ZiABL"
                        },
                        "custom_fields": {
                          "x_account_id": "KyVnHhSBWl7eY2bl"
                        }
                      },
                      "plan_details": {
                        "id": "d46c3bce-40a6-4fbf-9b45-fcb00d45ad5f",
                        "name": "Plan with Minimums",
                        "ending_before": "2024-04-01T00:00:00Z",
                        "starting_on": "2022-02-01T00:00:00Z",
                        "custom_fields": {
                          "x_account_id": "KyVnHhSBWl7eY2bl"
                        },
                        "customer_plan_id": "a23b3cf4-47fb-4c3f-bb3d-9e64f7704015"
                      }
                    }
                  ],
                  "next_page": null
                }
              }
            }
          }
        }
      }
    },
    "/planDetails/{plan_id}/charges": {
      "get": {
        "description": "Fetches a list of charges of a specific plan. This is a Plans (deprecated) endpoint. New clients should implement using Contracts.\n",
        "operationId": "getPlanCharges",
        "summary": "List plan charges",
        "parameters": [
          {
            "$ref": "#/components/parameters/PlanId"
          },
          {
            "$ref": "#/components/parameters/PageLimit"
          },
          {
            "$ref": "#/components/parameters/NextPage"
          }
        ],
        "tags": [
          "Plans"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "next_page"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PlanCharge"
                      }
                    },
                    "next_page": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": "a23b3cf4-47fb-4c3f-bb3d-9e64f7704015",
                      "name": "Server Hours",
                      "product_id": "d7998a03-db47-4d3f-97e4-d26f3f418718",
                      "product_name": "Dedicated Server",
                      "start_period": 0,
                      "tier_reset_frequency": 1,
                      "credit_type": {
                        "id": "2714e483-4ff1-48e4-9e25-ac732e8f24f2",
                        "name": "USD (cents)"
                      },
                      "charge_type": "usage",
                      "prices": [
                        {
                          "value": 50,
                          "tier": 0
                        }
                      ],
                      "custom_fields": {
                        "x_account_id": "KyVnHhSBWl7eY2bl"
                      }
                    }
                  ],
                  "next_page": "31646362333134302d363735362d346661372d396436362d383"
                }
              }
            }
          }
        }
      }
    },
    "/client/billing-config/{billing_provider_type}/apiKey": {},
    "/client/config/webhook_secret": {},
    "/client/billing-config/stripe": {},
    "/credits/{customer_id}/rechargeSettings/{recharge_settings_id}": {
      "post": {
        "x-mint": {
          "groups": [
            "ff:prepaid-credits"
          ]
        },
        "description": "Update an existing recharge setting for the customer. This is a Plans (deprecated) endpoint. New clients should implement using Contracts.\n",
        "operationId": "updateRechargeSetting",
        "summary": "Update the recharge setting",
        "tags": [
          "Credit grants"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CustomerId"
          },
          {
            "$ref": "#/components/parameters/RechargeSettingsId"
          }
        ],
        "requestBody": {
          "description": "The recharge settings to update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RechargeSettingsPayload"
              },
              "example": {
                "recharge_to_amount": 1000,
                "recharge_threshold": 300,
                "enabled": true,
                "name": "Recharge top up grant",
                "grant_duration": 6,
                "credit_type_id": "5ae401dc-a648-4b49-9ac3-391bb5bc4d7b",
                "priority": 100,
                "prepaid_options": {
                  "billing_provider_type": "stripe",
                  "stripe_options": {
                    "calculate_tax": true,
                    "redirect_url": "https://example.com/action_required_redirect",
                    "invoice_custom_fields": [
                      {
                        "name": "x_account_id",
                        "value": "KyVnHhSBWl7eY2bl"
                      }
                    ],
                    "invoice_metadata": {
                      "ex_metadata1": "metadata value 1",
                      "ex_metadata22": "metadata value 2"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "id"
                      ],
                      "properties": {
                        "id": {
                          "description": "The recharge setting ID.",
                          "type": "string",
                          "format": "uuid"
                        },
                        "recharge": {
                          "description": "Information about the status of the recharge if recharge_now is true and the balance was below the recharge threshold.",
                          "type": "object",
                          "required": [
                            "success",
                            "billing_provider_payment"
                          ],
                          "properties": {
                            "success": {
                              "type": "boolean",
                              "description": "Whether the prepaid grant was successfully created."
                            },
                            "credit_grant_id": {
                              "description": "The credit grant ID.",
                              "type": "string",
                              "format": "uuid"
                            },
                            "billing_provider_payment": {
                              "type": "object",
                              "required": [
                                "billing_provider_type"
                              ],
                              "properties": {
                                "billing_provider_type": {
                                  "type": "string"
                                },
                                "stripe_payment_info": {
                                  "type": "object",
                                  "description": "For Stripe payments only.",
                                  "properties": {
                                    "error_code": {
                                      "type": "string",
                                      "description": "The error code received from Stripe if one was sent."
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "id": "d7abd0cd-4ae9-4db7-8676-e986a4ebd8dc"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/credits/{customer_id}/rechargeSettings": {
      "post": {
        "x-mint": {
          "groups": [
            "ff:prepaid-credits"
          ]
        },
        "description": "Creates a new recharge setting for the customer.  This is used for automatically recharging prepaid credits when the balance reaches a threshold. This is a Plans (deprecated) endpoint. New clients should implement using Contracts.\n",
        "operationId": "createRechargeSetting",
        "summary": "Create a recharge setting",
        "tags": [
          "Credit grants"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CustomerId"
          }
        ],
        "requestBody": {
          "description": "The recharge settings to set.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RechargeSettingsPayload"
              },
              "example": {
                "recharge_to_amount": 1000,
                "recharge_threshold": 300,
                "name": "Recharge top up grant",
                "priority": 100,
                "grant_duration": 6,
                "credit_type_id": "5ae401dc-a648-4b49-9ac3-391bb5bc4d7b",
                "prepaid_options": {
                  "billing_provider_type": "stripe",
                  "stripe_options": {
                    "calculate_tax": true,
                    "redirect_url": "https://example.com/action_required_redirect",
                    "invoice_custom_fields": [
                      {
                        "name": "x_account_id",
                        "value": "KyVnHhSBWl7eY2bl"
                      }
                    ],
                    "invoice_metadata": {
                      "ex_metadata1": "metadata value 1",
                      "ex_metadata22": "metadata value 2"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "id"
                      ],
                      "properties": {
                        "id": {
                          "description": "The recharge setting ID.",
                          "type": "string",
                          "format": "uuid"
                        },
                        "recharge": {
                          "description": "Information about the status of the recharge if recharge_now is true and the balance was below the recharge threshold.",
                          "type": "object",
                          "required": [
                            "success",
                            "billing_provider_payment"
                          ],
                          "properties": {
                            "success": {
                              "type": "boolean",
                              "description": "Whether the prepaid grant was successfully created."
                            },
                            "credit_grant_id": {
                              "description": "The credit grant ID.",
                              "type": "string",
                              "format": "uuid"
                            },
                            "billing_provider_payment": {
                              "type": "object",
                              "required": [
                                "billing_provider_type"
                              ],
                              "properties": {
                                "billing_provider_type": {
                                  "type": "string"
                                },
                                "stripe_payment_info": {
                                  "type": "object",
                                  "description": "For Stripe payments only.",
                                  "properties": {
                                    "error_code": {
                                      "type": "string",
                                      "description": "The error code received from Stripe if one was sent."
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "id": "d7abd0cd-4ae9-4db7-8676-e986a4ebd8dc"
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "x-mint": {
          "groups": [
            "ff:prepaid-credits"
          ]
        },
        "description": "Gets the recharge settings for the customer.  This is used for automatically recharging prepaid credits when the balance reaches a threshold. This is a Plans (deprecated) endpoint. New clients should implement using Contracts.\n",
        "operationId": "getRechargeSettings",
        "summary": "Get the recharge settings",
        "tags": [
          "Credit grants"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CustomerId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/GetRechargeSettingsPayload"
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "name": "Recharge top up grant",
                      "recharge_to_amount": 1000,
                      "recharge_threshold": 300,
                      "enabled": true,
                      "id": "d7abd0cd-4ae9-4db7-8676-e986a4ebd8dc",
                      "priority": 100,
                      "grant_duration": 6,
                      "credit_type_id": "5ae401dc-a648-4b49-9ac3-391bb5bc4d7b",
                      "prepaid_options": {
                        "billing_provider_type": "stripe",
                        "stripe_options": {
                          "calculate_tax": true,
                          "redirect_url": "https://example.com/action_required_redirect",
                          "invoice_custom_fields": [
                            {
                              "name": "x_account_id",
                              "value": "KyVnHhSBWl7eY2bl"
                            }
                          ],
                          "invoice_metadata": {
                            "ex_metadata1": "metadata value 1",
                            "ex_metadata22": "metadata value 2"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/credits/createPrepaidGrant": {
      "post": {
        "x-mint": {
          "groups": [
            "ff:prepaid-credits"
          ]
        },
        "description": "Create a new prepaid credit grant. Prepaid credit grants function like regular credit grants except they require payment through Stripe before they are released. Prepaid credit grants are automatically topped up when a customer's balance goes below a specific threshold.\nIf the prepaid grant was successfully created, the response includes the credit grant ID and information about the billing provider payment (in the `billing_provider_payment` field).\nIf the payment requires action from the customer, the response includes a payment_status field of \"requires_action\" on the `billing_provider_payment.stripe_payment_info` object.\nIf the request fails it returns a 4xx level error. Example failures include:\n- a negative grant_amount - the customer provided does not have a Stripe ID associated with their Metronome account\nThis is a Plans (deprecated) endpoint. New clients should implement using Contracts. - issues in Stripe such as no default payment method\nIf there are Stripe errors, the response includes the Stripe response in the `stripe_error` field.\n",
        "operationId": "createPrepaidGrant",
        "summary": "Create a prepaid credit grant",
        "tags": [
          "Credit grants"
        ],
        "requestBody": {
          "description": "The details of the credit grant to create.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePrepaidCreditGrantPayload"
              },
              "example": {
                "customer_id": "9b85c1c1-5238-4f2a-a409-61412905e1e1",
                "grant_amount": {
                  "amount": 1000,
                  "credit_type_id": "5ae401dc-a648-4b49-9ac3-391bb5bc4d7b"
                },
                "name": "Acme Corp Promotional Credit Grant",
                "reason": "Incentivize new customer",
                "effective_at": "2022-02-01T00:00:00Z",
                "invoice_date": "2022-02-01T00:00:00Z",
                "expires_at": "2022-04-01T00:00:00Z",
                "paid_amount": {
                  "amount": 5000,
                  "credit_type_id": "2714e483-4ff1-48e4-9e25-ac732e8f24f2"
                },
                "priority": 0.5,
                "prepaid_options": {
                  "billing_provider_type": "stripe",
                  "stripe_options": {
                    "calculate_tax": true,
                    "redirect_url": "https://example.com/action_required_redirect",
                    "invoice_custom_fields": [
                      {
                        "name": "x_account_id",
                        "value": "KyVnHhSBWl7eY2bl"
                      }
                    ],
                    "invoice_metadata": {
                      "ex_metadata1": "metadata value 1",
                      "ex_metadata22": "metadata value 2"
                    }
                  }
                },
                "credit_grant_type": "enterprise"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "id",
                        "billing_provider_payment"
                      ],
                      "properties": {
                        "id": {
                          "description": "The credit grant ID or an empty value if further action is required.",
                          "type": "string",
                          "format": "uuid"
                        },
                        "billing_provider_payment": {
                          "type": "object",
                          "required": [
                            "billing_provider_type"
                          ],
                          "properties": {
                            "billing_provider_type": {
                              "type": "string"
                            },
                            "stripe_payment_info": {
                              "type": "object",
                              "description": "For Stripe payments only.  Information about the Stripe invoice.",
                              "required": [
                                "payment_status"
                              ],
                              "properties": {
                                "invoice_id": {
                                  "type": "string"
                                },
                                "payment_status": {
                                  "type": "string",
                                  "description": "Payment status of the prepaid grant.  If `requires_action`, use `next_action_type` to perform next steps.",
                                  "enum": [
                                    "success",
                                    "fail",
                                    "requires_action"
                                  ]
                                },
                                "next_action_type": {
                                  "type": "string",
                                  "description": "Type of the next action to perform. If `redirect_to_url`, the user should be sent redirected to the value of `target_redirect_url`. If `use_stripe_sdk`, then the contents of `next_action_stripe_sdk` should be passed to Stripe.js. This also applies when the payment method requires 3D Secure and no `target_redirect_url` was provided.",
                                  "enum": [
                                    "redirect_to_url",
                                    "use_stripe_sdk"
                                  ]
                                },
                                "target_redirect_url": {
                                  "type": "string",
                                  "description": "Redirect URL to the billing provider's payment page.  Only present if `payment_status` is `requires_action` and `next_action_type` is `redirect_to_url`."
                                },
                                "next_action_stripe_sdk": {
                                  "type": "object",
                                  "description": "The contents of this should be passed to Stripe.js to perform next steps. Only present if `payment_status` is `requires_action` and `next_action_type` is `use_stripe_sdk`.",
                                  "additionalProperties": true
                                },
                                "payment_intent_client_secret": {
                                  "type": "string",
                                  "description": "The client_secret of the payment intent. Can be used to perform next steps with Stripe.js."
                                },
                                "error_code": {
                                  "type": "string",
                                  "description": "The error code received from Stripe if one was sent."
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "id": "8b24d3dc-6db5-432d-9416-8439b3fbf242",
                    "billing_provider_payment": {
                      "billing_provider_type": "stripe",
                      "stripe_payment_info": {
                        "invoice_id": "in_1J5Z2n2eZvKYlo2C0Z1Z2n2e",
                        "payment_status": "requires_action",
                        "target_redirect_url": "https://example.com/action_required_redirect",
                        "next_action_type": "redirect_to_url"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrepaidGrantError"
                }
              }
            }
          }
        }
      }
    },
    "/credits/createGrant": {
      "post": {
        "description": "Create a new credit grant. This is a Plans (deprecated) endpoint. New clients should implement using Contracts.\n",
        "operationId": "createGrant",
        "summary": "Create a credit grant",
        "tags": [
          "Credit grants"
        ],
        "requestBody": {
          "description": "The details of the credit grant to create.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCreditGrantPayload"
              },
              "example": {
                "customer_id": "9b85c1c1-5238-4f2a-a409-61412905e1e1",
                "grant_amount": {
                  "amount": 1000,
                  "credit_type_id": "5ae401dc-a648-4b49-9ac3-391bb5bc4d7b"
                },
                "name": "Acme Corp Promotional Credit Grant",
                "reason": "Incentivize new customer",
                "effective_at": "2022-02-01T00:00:00Z",
                "expires_at": "2022-04-01T00:00:00Z",
                "paid_amount": {
                  "amount": 5000,
                  "credit_type_id": "2714e483-4ff1-48e4-9e25-ac732e8f24f2"
                },
                "priority": 0.5,
                "credit_grant_type": "trial"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Id"
                    }
                  }
                },
                "example": {
                  "data": {
                    "id": "8b24d3dc-6db5-432d-9416-8439b3fbf242"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/credits/editGrant": {
      "post": {
        "description": "Edit an existing credit grant. This is a Plans (deprecated) endpoint. New clients should implement using Contracts.\n",
        "operationId": "editGrant",
        "summary": "Update a credit grant",
        "tags": [
          "Credit grants"
        ],
        "requestBody": {
          "description": "The id of the credit grant to edit and the updated fields. Currently only the name and expires_at fields can be updated.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditCreditGrantPayload"
              },
              "example": {
                "id": "9b85c1c1-5238-4f2a-a409-61412905e1e1",
                "name": "Acme Corp Promotional Credit Grant",
                "expires_at": "2022-04-01T00:00:00Z"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Id"
                    }
                  }
                },
                "example": {
                  "data": {
                    "id": "8b24d3dc-6db5-432d-9416-8439b3fbf242"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/credits/voidGrant": {
      "post": {
        "description": "Void a credit grant. This is a Plans (deprecated) endpoint. New clients should implement using Contracts.\n",
        "operationId": "voidGrant",
        "summary": "Void a credit grant",
        "tags": [
          "Credit grants"
        ],
        "requestBody": {
          "description": "The ID of the grant to void",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "void_credit_purchase_invoice": {
                    "type": "boolean",
                    "description": "If true, void the purchase invoice associated with the grant"
                  },
                  "release_uniqueness_key": {
                    "type": "boolean",
                    "description": "If true, resets the uniqueness key on this grant so it can be re-used"
                  }
                }
              },
              "example": {
                "id": "9b85c1c1-5238-4f2a-a409-61412905e1e1"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Id"
                    }
                  }
                },
                "example": {
                  "data": {
                    "id": "8b24d3dc-6db5-432d-9416-8439b3fbf242"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/credits/listGrants": {
      "post": {
        "description": "List credit grants. This list does not included voided grants. This is a Plans (deprecated) endpoint. New clients should implement using Contracts.\n",
        "operationId": "listGrants",
        "summary": "List credit grants",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageLimit"
          },
          {
            "$ref": "#/components/parameters/NextPage"
          }
        ],
        "requestBody": {
          "description": "Filters specifying which credit grants should be included",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListCreditGrantPayload"
              },
              "example": {
                "credit_type_ids": [
                  "2714e483-4ff1-48e4-9e25-ac732e8f24f2"
                ],
                "customer_ids": [
                  "d7abd0cd-4ae9-4db7-8676-e986a4ebd8dc",
                  "0e5b8609-d901-4992-b394-c3c2e3f37b1c"
                ],
                "not_expiring_before": "2022-02-01T00:00:00Z",
                "effective_before": "2022-02-01T00:00:00Z"
              }
            }
          }
        },
        "tags": [
          "Credit grants"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "next_page"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CreditGrant"
                      }
                    },
                    "next_page": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": "9acbc1d0-2044-44c4-8577-f6078a1d8cd2",
                      "name": "Initial credit purchase",
                      "customer_id": "b310b282-d5cf-4e4f-915f-d8c3c4971e45",
                      "uniqueness_key": "823j7fqzo1",
                      "reason": "Prepayment",
                      "effective_at": "2022-01-01T00:00:00.000Z",
                      "expires_at": "2022-04-01T00:00:00.000Z",
                      "priority": 0.5,
                      "grant_amount": {
                        "amount": 100,
                        "credit_type": {
                          "id": "fa2f1b3d-9d52-4951-a099-25991fd394d6",
                          "name": "cloud consumption units"
                        }
                      },
                      "paid_amount": {
                        "amount": 10,
                        "credit_type": {
                          "id": "2714e483-4ff1-48e4-9e25-ac732e8f24f2",
                          "name": "USD (cents)"
                        }
                      },
                      "balance": {
                        "including_pending": 80,
                        "excluding_pending": 80,
                        "effective_at": "2022-02-01T00:00:00.000Z"
                      },
                      "deductions": [
                        {
                          "amount": 20,
                          "reason": "Automated invoice deduction",
                          "running_balance": 80,
                          "effective_at": "2022-02-01T00:00:00.000Z",
                          "created_by": "Metronome System",
                          "credit_grant_id": "9acbc1d0-2044-44c4-8577-f6078a1d8cd2",
                          "invoice_id": "b6a60e95-15f4-403c-be40-f1c1d58cee20"
                        }
                      ],
                      "pending_deductions": [],
                      "custom_fields": {
                        "x_account_id": "KyVnHhSBWl7eY2bl"
                      },
                      "credit_grant_type": "enterprise"
                    }
                  ],
                  "next_page": null
                }
              }
            }
          }
        }
      }
    },
    "/credits/migrateToContracts": {
      "post": {
        "x-mint": {
          "groups": [
            "client_id:462b838b-1582-4100-816e-f6c07bb604fe",
            "client_id:c187f54f-e807-4cf6-8fa1-a01f09d05412",
            "client_id:8e3a848a-4566-4cfb-be49-64d80118a7fc",
            "client_id:aa2899ec-16ad-413b-b20b-ec9ba4692d4e"
          ]
        },
        "operationId": "migrateCreditGrantsToContracts",
        "summary": "Migrate plans credit grants to contracts credits and commits.",
        "description": "Migrates a given customer's plan credit grants to contract credits and commits in batches.\nCallers should check the `has_more` field of the response to determine if there are more credit grants to migrate.\n\n- Plan credit grants with no cost basis get migrated to contract credits.\n- Plan credit grants with positive cost basis get migrated to contract Commits with an empty invoice schedule so they don't get re-invoiced.\n- Deductions from existing grants are migrated to one-off contract deductions.\n- If not hour-aligned, the `effective_at` date of the migrated plan credit grant is rounded down to the nearest hour. e.g. 2024-01-01T12:34:56Z becomes 2024-01-01T12:00:00Z\n- If not hour-aligned, the `expires_at` date of the migrated plan credit grant is rounded up to the nearest hour. e.g. 2024-01-01T12:34:56Z becomes 2024-01-01T13:00:00Z\n\nThis is a Plans (deprecated) endpoint. New clients should implement using Contracts.\n- The migrated plan credit grants are truncated to the cutover date, or voided if they fall completely after the cutover date.",
        "requestBody": {
          "description": "Parameters for migrating credit grants to contracts.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "customer_id",
                  "cutover_date",
                  "contract_credits_product_id",
                  "contract_prepaid_commits_product_id"
                ],
                "properties": {
                  "customer_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "The customer ID to migrate credit grants for."
                  },
                  "cutover_date": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The date to truncate existing plan credit grants to. This should likely be the end date of the customer's most recently finalized invoice."
                  },
                  "contract_credits_product_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "The product ID to use for contract credits."
                  },
                  "contract_prepaid_commits_product_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "The product ID to use for contract prepaid commits."
                  },
                  "contract_credits_priority_override": {
                    "type": "number",
                    "description": "The priority to use for contract credits."
                  },
                  "contract_prepaid_commits_priority_override": {
                    "type": "number",
                    "description": "The priority to use for contract prepaid commits."
                  },
                  "grant_to_contract_commit_mapping": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "description": "Mapping configuration for migrating specific credit grants to contract commits",
                      "properties": {
                        "credit_grant_id": {
                          "type": "string",
                          "format": "uuid",
                          "description": "The ID of the credit grant to migrate"
                        },
                        "contract_id": {
                          "type": "string",
                          "format": "uuid",
                          "description": "The ID of the contract to migrate to"
                        },
                        "product_id": {
                          "type": "string",
                          "format": "uuid",
                          "description": "The ID of the product to use for the contract commit"
                        }
                      }
                    },
                    "description": "Optional mapping configuration for migrating specific credit grants to contract commits. If not provided, defaults to empty array."
                  },
                  "dry_run": {
                    "type": "boolean",
                    "description": "If true, perform a dry run without actually executing the migration. If not provided, defaults to false."
                  },
                  "batch_size": {
                    "type": "number",
                    "description": "The number of credit grants to migrate in this batch."
                  }
                }
              },
              "example": {
                "customer_id": "9b85c1c1-5238-4f2a-a409-61412905e1e1",
                "cutover_date": "2024-02-01T00:00:00Z",
                "contract_credits_product_id": "7d21bedf-0f29-4dfe-b5a9-e90888ca46cf",
                "contract_prepaid_commits_product_id": "098bf77f-d6bf-4d08-816f-c9434fdc90fa",
                "contract_credits_priority_override": 0.5,
                "contract_prepaid_commits_priority_override": 0.5,
                "grant_to_contract_commit_mapping": [
                  {
                    "credit_grant_id": "123e4567-e89b-12d3-a456-426614174000",
                    "contract_id": "987fcdeb-51a2-43d1-9b8c-765432109876",
                    "product_id": "abc12345-6789-0123-4567-890123456789"
                  },
                  {
                    "credit_grant_id": "456e7890-e89b-12d3-a456-426614174001",
                    "contract_id": "654fcdeb-51a2-43d1-9b8c-765432109875",
                    "product_id": "def67890-1234-5678-9012-345678901234"
                  }
                ],
                "dry_run": false,
                "batch_size": 300
              }
            }
          }
        },
        "tags": [
          "Credit grants"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "credit_grants_migrated",
                    "has_more"
                  ],
                  "properties": {
                    "credit_grants_migrated": {
                      "type": "number",
                      "description": "The number of credit grants migrated."
                    },
                    "has_more": {
                      "type": "boolean",
                      "description": "Whether the customer has more credit grants to migrate."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/credit-types/list": {
      "get": {
        "description": "List all pricing units. All fiat currency types (for example, USD or GBP) will be included, as well as any custom pricing units that were configured. Custom pricing units can be used to charge for usage in a non-fiat pricing unit, for example AI credits.\n\nNote: The USD (cents) pricing unit is 2714e483-4ff1-48e4-9e25-ac732e8f24f2.\n",
        "operationId": "listCreditTypes",
        "summary": "List pricing units",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageLimit"
          },
          {
            "$ref": "#/components/parameters/NextPage"
          }
        ],
        "tags": [
          "Settings"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "next_page"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "is_currency": {
                            "type": "boolean"
                          }
                        }
                      }
                    },
                    "next_page": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": "2714e483-4ff1-48e4-9e25-ac732e8f24f2",
                      "name": "USD (cents)",
                      "is_currency": true
                    },
                    {
                      "id": "fa2f1b3d-9d52-4951-a099-25991fd394d6",
                      "name": "cloud consumption units",
                      "is_currency": false
                    }
                  ],
                  "next_page": null
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customer_id}/plans": {
      "get": {
        "description": "List the given customer's plans in reverse-chronological order. This is a Plans (deprecated) endpoint. New clients should implement using Contracts.\n",
        "operationId": "listCustomerPlans",
        "summary": "List customer plans",
        "parameters": [
          {
            "$ref": "#/components/parameters/CustomerId"
          },
          {
            "$ref": "#/components/parameters/PageLimit"
          },
          {
            "$ref": "#/components/parameters/NextPage"
          }
        ],
        "tags": [
          "Plans"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "next_page"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CustomerPlan"
                      }
                    },
                    "next_page": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": "7aa11640-0703-4600-8eb9-293f535a6b74",
                      "plan_id": "94293d66-aa05-4a8e-881a-c90872047b67",
                      "plan_name": "Standard",
                      "plan_description": "The standard plan for all customers",
                      "starting_on": "2021-01-01T00:00:00Z",
                      "trial_info": {
                        "ending_before": "2021-01-15T00:00:00Z",
                        "spending_caps": []
                      },
                      "custom_fields": {
                        "x_account_id": "KyVnHhSBWl7eY2bl"
                      }
                    }
                  ],
                  "next_page": null
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customer_id}/plans/add": {
      "post": {
        "description": "Associate an existing customer with a plan for a specified date range.  See the [price adjustments documentation](https://plans-docs.metronome.com/pricing/managing-plans/#price-adjustments) for details on the price adjustments. This is a Plans (deprecated) endpoint. New clients should implement using Contracts.\n",
        "operationId": "addPlanToCustomer",
        "summary": "Add a plan to a customer",
        "parameters": [
          {
            "$ref": "#/components/parameters/CustomerId"
          }
        ],
        "requestBody": {
          "description": "The customer ID, plan ID, and date range for the plan to be applied",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddPlanToCustomerPayload"
              },
              "example": {
                "plan_id": "d2c06dae-9549-4d7d-bc04-b78dd3d241b8",
                "starting_on": "2021-02-01T00:00:00Z",
                "ending_before": "2022-02-01T00:00:00Z"
              }
            }
          }
        },
        "tags": [
          "Plans"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Id"
                    }
                  }
                },
                "example": {
                  "data": {
                    "id": "8b24d3dc-6db5-432d-9416-8439b3fbf242"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customer_id}/plans/{customer_plan_id}/priceAdjustments": {
      "get": {
        "description": "Lists a customer plans adjustments. See the [price adjustments documentation](https://plans-docs.metronome.com/pricing/managing-plans/#price-adjustments) for details. This is a Plans (deprecated) endpoint. New clients should implement using Contracts.\n",
        "operationId": "getPlanPriceAdjustments",
        "summary": "Get the plan adjustments for a customer",
        "parameters": [
          {
            "$ref": "#/components/parameters/CustomerId"
          },
          {
            "$ref": "#/components/parameters/CustomerPlanId"
          },
          {
            "$ref": "#/components/parameters/PageLimit"
          },
          {
            "$ref": "#/components/parameters/NextPage"
          }
        ],
        "tags": [
          "Plans"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "next_page"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PriceAdjustment"
                      }
                    },
                    "next_page": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "charge_id": "8b24d3dc-6db5-432d-9416-8439b3fbf242",
                      "charge_type": "usage",
                      "start_period": 0,
                      "prices": [
                        {
                          "adjustment_type": "fixed",
                          "value": -0.05
                        },
                        {
                          "adjustment_type": "quantity",
                          "value": 2
                        },
                        {
                          "adjustment_type": "override",
                          "tier": 2,
                          "value": 4
                        }
                      ]
                    },
                    {
                      "charge_id": "2714e483-4ff1-48e4-9e25-ac732e8f24f2",
                      "charge_type": "fixed",
                      "start_period": 1,
                      "prices": [
                        {
                          "adjustment_type": "percentage",
                          "value": -5
                        }
                      ]
                    }
                  ],
                  "next_page": "31646362333134302d363735362d346661372d396436362d383"
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customer_id}/plans/{customer_plan_id}/end": {
      "post": {
        "description": "Change the end date of a customer's plan. This is a Plans (deprecated) endpoint. New clients should implement using Contracts.\n",
        "operationId": "endCustomerPlan",
        "summary": "End a customer plan",
        "parameters": [
          {
            "$ref": "#/components/parameters/CustomerId"
          },
          {
            "$ref": "#/components/parameters/CustomerPlanId"
          }
        ],
        "requestBody": {
          "description": "The date at which this customer's plan should end",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EndCustomerPlanPayload"
              },
              "example": {
                "ending_before": "2021-02-01T00:00:00Z"
              }
            }
          }
        },
        "tags": [
          "Plans"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "x-stainless-empty-object": true
                }
              }
            }
          }
        }
      }
    },
    "/ingest": {
      "post": {
        "description": "The ingest endpoint is the primary method for sending usage events to Metronome, serving as the foundation for all billing calculations in your usage-based pricing model. This high-throughput endpoint is designed for real-time streaming ingestion, supports backdating 34 days, and is built to handle mission-critical usage data with enterprise-grade reliability. Metronome supports 100,000 events per second without requiring pre-aggregation or rollups and can scale up from there. See the [Send usage events](/guides/events/send-usage-events) guide to learn more about usage events.\n\n### Use this endpoint to:\nCreate a customer usage pipeline into Metronome that drives billable metrics, credit drawdown, and invoicing. Track customer behavior, resource consumption, and feature usage\n\n### What happens when you send events:\n- Events are validated and processed in real-time\n- Events are matched to customers using customer IDs or customer ingest aliases\n- Events are matched to billable metrics and are immediately available for usage and spend calculations\n\n### Usage guidelines:\n- Historical events can be backdated up to 34 days and will immediately impact live customer spend\n- Duplicate events are automatically detected and ignored (34-day deduplication window)\n\n#### Event structure:\nUsage events are simple JSON objects designed for flexibility and ease of integration:\n```json\n{\n  \"transaction_id\": \"2021-01-01T00:00:00Z_cluster42\",\n  \"customer_id\": \"team@example.com\",\n  \"event_type\": \"api_request\",\n  \"timestamp\": \"2021-01-01T00:00:00Z\",\n  \"properties\": {\n    \"endpoint\": \"/v1/users\",\n    \"method\": \"POST\",\n    \"response_time_ms\": 45,\n    \"region\": \"us-west-2\"\n  }\n}\n```\n\nLearn more about [usage event structure definitions](/guides/events/design-usage-events).\n\n#### Transaction ID\n  The transaction_id serves as your idempotency key, ensuring events are processed exactly once. Metronome maintains a 34-day deduplication window - significantly longer than typical 12-hour windows - enabling robust backfill scenarios without duplicate billing.\n  - Best Practices:\n    - Use UUIDs for one-time events: uuid4()\n    - For heartbeat events, use deterministic IDs\n    - Include enough context to avoid collisions across different event sources\n\n#### Customer ID\nIdentifies which customer should be billed for this usage. Supports two identification methods:\n  - Metronome Customer ID: The UUID returned when creating a customer\n  - Ingest Alias: Your system's identifier (email, account number, etc.) \n\nIngest aliases enable seamless integration without requiring ID mapping, and customers can have multiple aliases for flexibility.\n\n#### Event Type:\nCategorizes the event type for billable metric matching. Choose descriptive names that aligns with the product surface area.\n\n#### Properties:\nFlexible metadata also used to match billable metrics or to be used to serve as group keys to create multiple pricing dim
[...]
